<html>

<head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.umd.prod.js" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <div id="main-container">
        <div id="money-container">
            <div id="money-cash">
                <transition name="slide-fade">
                    <p v-if="showCash">💲&nbsp;<span id="money">{{formatMoney(cash)}}</span></p>
                </transition>
            </div>
            <div id="money-bank">
                <transition name="slide-fade">
                    <p v-if="showBank">🏛&nbsp;<span id="money">{{formatMoney(bank)}}</span></p>
                </transition>
            </div>
            <div id="money-change" v-if="showUpdate">
                <p v-if="plus">🟢&nbsp;<span id="money">+&nbsp;<span id="money">{{formatMoney(amount)}}</span></p>
                <p v-else-if="minus">🔴&nbsp;<span id="minus">-&nbsp;<span id="money">{{formatMoney(amount)}}</span></p>
            </div>
        </div>
        <span>
            <div id="ui-container">
                <div id="playerHud" v-show="show">>
                    <div v-if="showVoice">
                        <q-circular-progress show-value :value="voice" size="45px" :thickness="0.2" color="white" track-color="red-9" center-color="black-8" :min="0" :max="5">
                            <q-icon name="fas fa-microphone" size="25px" color="white" />
                    </div>
                    <!-- <div v-if="showHealth">
                        <q-circular-progress show-value :value="health" size="45px" :thickness="0.2" color="white" track-color="black-9" center-color="black-8">
                            <q-icon name="fas fa-heart" size="25px" color="white" />
                    </div> -->
    
                    <div v-if="showHunger">
                        <q-circular-progress show-value :value="hunger" size="45px" :thickness="0.2" color="white" track-color="black-9" center-color="black-8">
                            <q-icon name="fas fa-utensils" size="25px" color="white" />
                    </div>
                    <div v-if="showThirst">
                        <q-circular-progress show-value :value="thirst" size="45px" :thickness="0.2" color="white" track-color="black-9" center-color="black-8">
                            <q-icon name="fas fa-tint" size="25px" color="white" />
                    </div>
                    <div v-if="showStress">
                        <q-circular-progress show-value :value="stress" size="45px" :thickness="0.2" color="red" track-color="black-9" center-color="black-8">
                            <q-icon name="fas fa-brain" size="25px" color="white" />
                    </div>
                </div>
            </div>
        </span>
    </div>
</body>

</html>
